body {
	font-family:sans-serif;
}

.itemTemplateWrapper {
	border:1px solid gray;
	padding:5pt;
	margin:10px;
	width:auto;
	display:block;
	float:left;
	min-width:240px;
}
.itemTemplateWrapper  p {
	margin:0;
	padding:0 0 10px 0;
}
.itemTemplateWrapper  p span {
	display:block;
	padding: 0 10px;
}
.itemTemplateWrapper  p span.name {
	background-color:#333;
	color:#fff;
	font-weight:bold;
	padding:10px;
}

