body {
	font-family:sans-serif;
}

.itemTemplateWrapper {
	border:1px solid gray;
	padding:5pt;
	margin:10px;
	width:auto;
	display:block;
	float:left;
	min-width:240px;
}
.itemTemplateWrapper  p {
	margin:0;
}
.itemTemplateWrapper  p span {
	display:block;
}
.itemTemplateWrapper  p span.name {
	font-weight:bold;
}

